---
title: "課程說明"
linkTitle: "課程說明"
weight: 40
menu:
  main:
    weight: 1
---

{{< blocks/cover title="關於課程內容說明" image_anchor="bottom" height="min" >}}
<p class="lead mt-5">課程內容說明</p>
{{< /blocks/cover >}}

{{% blocks/lead %}}
本課程是為期三天的暑假短期課程。透過 micro: bit 與麥昆小車套件組，讓學員們學習運算思維，程式設計，AI與創客的樂趣
{{% /blocks/lead %}}

{{% blocks/lead %}}
## 課程大網與活動內容
AGENDA
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

## 2019/07/29
  - 13:05 ~ 13:50 micro: bit & 麥昆小車硬體介紹
  - 14:00 ~ 14:45 組裝小車 & MakeCode 程式介面講解
  - 14:55 ~ 15:40 MakeCode 程式初體驗
  - 15:55 ~ 16:40 小車基礎控制 (前進、後退、加減速)


{{< /blocks/section >}}

{{< blocks/section color="blue" >}}
## 2019/07/30
  - 13:05 ~ 13:50 小車循跡感應 (循跡前進)
  - 14:00 ~ 14:45 小車超音波感測 (避障、跟隨)
  - 14:55 ~ 15:40 小車聲光控制 (LED 調色原理、LED 控制、音效控制)
  - 15:55 ~ 16:40 小車無線控制 (無線廣播原理、無線搖控、體感搖控)
{{< /blocks/section >}}

{{< blocks/section color="green" >}}
## 2019/07/31
  - 13:05 ~ 13:50 淺談 AI 視覺辨識
  - 14:00 ~ 14:45 摩圖 MU 視覺辨識模組
  - 14:55 ~ 15:40 分組專案討論
  - 15:55 ~ 16:40 分組專案展示
{{< /blocks/section >}}