+++
title = "AI4Kids - AI視覺辨識自走車創客週末2日營"
linkTitle = "AI視覺辨識自走車創客週末2日營"
+++

{{< blocks/cover title="AI4Kids - AI視覺辨識自走車創客週末2日營!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		學習去 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">micro: bit x AI x Maker</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
讓我們一起用 micro:bit 與麥昆小車體驗運算思維，玩AI與當創客的樂趣！
{{% /blocks/lead %}}

<!-- Comment -->
{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-file-code" title="運算思維" %}}
用電腦的邏輯來解決問題的思維
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-diagnoses" title="創客精神" %}}
結合生活創意與電腦科技
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-medapps" title="AI人工智慧" %}}
理解機器如何學習
{{% /blocks/feature %}}

{{< /blocks/section >}}
