---
title: "關於 AI4Kids"
linkTitle: "關於 AI4Kids"
weight: 40
menu:
  main:
    weight: 3
---

{{< blocks/cover title="關於 AI4Kids" image_anchor="bottom" height="full" >}}
<div class="mx-auto">
<p class="lead mt-5">Who are We</p>
<div class="mx-auto mt-5">
  {{< blocks/link-down color="info" >}}
</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="white" %}}
<img src="https://i.imgur.com/y1mKdS7.png" />
{{% /blocks/lead %}}


{{< blocks/section color="cyan" >}}

<div class="center"><h2>AI is Fun !</h2></div>
<p>
我們是一群來自AIA台灣人工智慧學校的校友團隊，成員各有軟體技術、創新研發、工程管理、電商行銷等資歷專長，因為對AI科技教育的熱情，所以投入AI的教案研發與教學，我們希望能引發每個孩子對AI的好奇與興趣，協助他們運用各種程式或平台工具來探索、創造自己的AI應用
</p>

{{< /blocks/section >}}

{{% blocks/lead color="white" %}}
<h2>為什麼孩子需要學AI</h2>
<blockquote class="blockquote">
  <p class="mb-0">「AI將和電一樣改變人類歷史」</p>
  <footer class="blockquote-footer">李開復 創新工場董事長</footer>
</blockquote>
{{% /blocks/lead %}}

{{< blocks/section color="cyan" >}}

人類在未來勢必與AI高度協作，AI不僅會改變我們的生活，也即將改變我們的社會運作模式，孩子若能理解其運作的原則與各種應用的可能性，也知道AI如何為自己賦能，他們將能更自信的面對科技的進展，掌握主導權。

{{< /blocks/section >}}


{{% blocks/lead color="white" %}}
<h2>我們怎麼讓孩子理解AI</h2>
{{% /blocks/lead %}}

{{< blocks/section color="cyan">}}
<p>
我們主張，讓孩子自然的體會到，AI未來將如何融入其生活中。我們教導AI運作的程序：從發現問題、蒐集資料、AI模型訓練、測試驗證、推論的五個過程。鼓勵孩子留意生活中包含影像、語音、文字、訊息等數據的存在，並教他們透過各種淺顯的軟硬體工具來建構程式語言，搭配雲端運算平台，實作AI模型的建立與程式設計，創造出生活問題的解決方案。
</p>
{{< /blocks/section >}}

<!-- 我們的教學核心 -->
{{% blocks/lead color="white" %}}
<h2>我們的教學核心</h2>
結合108課綱，著重四大教學重點
{{% /blocks/lead %}}

{{< blocks/section color="cyan" >}}

<ul>
<li>資料表示與蒐集: 讓孩子學會運用各種感測器蒐集數據</li>
<li>運算思維與程式設計: Scratch、Micro:bit等積木程式語言的邏輯與設計</li>
<li>系統平台: 雲端運算平台，AI樣本輸入與模型輸出、測試</li>
<li>資訊科技應用: 物件辨識、語音辨識、自走車、自動機器手臂等專案實作。</li>
</ul>

{{< /blocks/section >}}


{{< blocks/section color="white" >}}
<div class="mx-auto">
  <a class="fab fa-facebook-square fa-lg mr-3 mb-4 btn" href="https://www.facebook.com/pg/ai4kids/" target="_blank"> Facebook</a>
</div>
{{< /blocks/section >}}